/* REORGANISER LE CSS !!!!!!! */


.container-fluid {
    margin: 0;
    padding: 0;
    background: #FFFCDD;
    font-family: 'Josefin Sans', sans-serif;
}

a:link {
    cursor: pointer;
}


header {
    height: auto;
    width: 100%;
    margin: 0;
    padding-top: 8vw;
    padding-bottom: 8vw;
}

.logo h3 {
    font-size: 3rem;
    font-family: 'Indie Flower'!important;
    color: black;
}

.logo a {
    text-decoration: none!important;
    font-size: 8rem;
    font-family: 'Indie Flower'!important;
    color: black;
}

.col-md-2 {
    padding: 0;
}

.navbar a {
    text-decoration: none!important;
    padding: 0;
    text-align: center;
    font-size: 2rem;
    color: black;
}

.navbar a:hover {
    padding: 0;
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    color: black;
}


.navbar {
    text-align: center;
    width: 100%;
    margin: 0;
    height: auto;
}

.navbar img {
    width: 10%;
    height: auto;
    margin: 0;
    padding: 0;
}

#quote
{
    height : auto;
    border: 1px solid black;
    cursor: crosshair;
}

#aboutme {
    text-align: justify;
    padding: 2vw;
    color: black;
    font-size: 2rem;
    width: 100%;
}

#aboutme h2 {
    font-size: 3rem;
    font-family: 'Indie Flower'!important;
    color: black;
    font-weight: bold;
}

.selfie img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    opacity: 0.9;
}

.selfie img:hover {
    width: 150%;
    opacity: 1;
}

#portfolio {
    padding: 2vh;
    text-align: justify;
    color: black;
    font-size: 2rem;
    width: 100%;
}

.card img {
    width: 100%;
    opacity: 0.8;
}

.card img:hover {
    opacity: 1;
}


#skills {
    padding: 2vh;
    text-align: justify;
    color: black;
    font-family: 'Indie Flower';
    font-size: 2rem;
    width: 100%;
}

#skills h2 {
    font-size: 3rem;
    color: black;
    font-weight: bold;
}

#skills img {
    width: 50%;
    margin: 1vw;
}

.forcont {
    padding: 2vh;
    text-align: justify;
    color: black;
    font-size: 2rem;
    width: 100%;
}

.forcont h2 {
    font-size: 3rem;
    color: black;
    font-family: 'Indie Flower'!important;
    font-weight: bold;
}

footer {
    height: auto;
    width: 100%;
    padding: 1vw 0;
    text-align: center;
    font-size: 1.5rem;
    color: black;
}

footer a {
    text-decoration: none!important;
    color: black;
}
