/* REORGANISER LE CSS !!!!!!! */



/* colors :
raspberry : #F01945 
blanc cassé fond : #FFFCDD
gris-bleu : #1c2923dc 
*/

html
{
    scroll-behavior: smooth;
}

body
{
     overflow-x: hidden; /* pour enlever le scroll */
}

.container-fluid {
    margin: 0!important;
    padding: 0!important;
    background: #FFFCDD;
    font-family: 'Josefin Sans', sans-serif;
}

a:link {
    cursor: pointer;
}


header {
    height: auto;
    width: 100%;
    margin: 0;
    padding-top: 8vw;
    padding-bottom: 8vw;
}

.logo h3 {
    font-size: 3rem;
    font-family: 'Indie Flower'!important, sans-serif;
    color: #F01945;
}

.logo a {
    text-decoration: none!important;
    font-size: 5rem;
    font-family: 'Jacques Francois Shadow', cursive;
    color: #F01945;
}


.navbar a {
    text-decoration: none!important;
    font-family: 'Indie Flower', sans-serif, cursive;
    padding: 0;
    text-align: center;
    font-size: 2rem;
    color: #1c2923dc;
}

.navbar a:hover {
    padding: 0;
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    color:#F01945;
}


.navbar {
    text-align: center;
    width: 100%;
    margin: 0;
    padding : 0;
    height: auto;
    background:#FFFCDD;
}

.ombre:after{
    content: " ";
    position: absolute;
    width:100%;
    height: 15px;
    bottom: -15px;
    left: 0px;
    box-shadow: 0px 10px 10px -10px #F01945 inset;
}


#quote
{
    color: #F01945;
    height : auto;
    font-size: 2.2rem;
    cursor: crosshair;
    font-family: 'Jacques Francois Shadow', cursive;
}

#aboutme {
    text-align: justify;
    padding: 2vw;
    color: #1c2923dc;
    font-size: 2rem;
    width: 100%;
}

#aboutme h2, #portfolio h2, #skills h2, #formulaire h2 {
    font-size: 3rem;
    font-family: 'Indie Flower'!important, sans-serif;
    color: #F01945;
    font-weight: bold;
}

.selfie img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    opacity: 0.9;
}

.selfie img:hover {
    width: 150%;
    opacity: 1;
}

#portfolio {
    padding: 2vh;
    text-align: justify;
    color: #1c2923dc;
    font-size: 2rem;
    width: 100%;
}

.card img {
    width: 100%;
    opacity: 0.8;
}

.card img:hover {
    opacity: 1;
}


#skills {
    padding: 2vh;
    text-align: justify;
    color: #1c2923dc;
    font-family: 'Indie Flower', sans-serif;
    font-size: 2rem;
    width: 100%;
}


#skills img {
    width: 50%;
    margin: 1vw;
}



footer {
    height: auto;
    width: 100%;
    padding: 1vw 0;
    text-align: center;
    font-size: 1.2rem;
    color: #1c2923dc;
    border-top: 1px solid rgba(240, 25, 68, 0.397);
}

footer a{
    color: #1c2923dc;
}

footer a:hover {
    color: #F01945;
    text-decoration: none;
    font-size : 1.5rem;
}
